body {
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 50px;
    height: 70px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 50px;
    margin: 20px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 50px;
    margin-top: 10px;

}

button {
    margin: auto;
    display: block;
    margin-top: 23px;
    width: 240px;
    height: 40px;
    background-color: #eee;
    cursor: pointer;

}

#jogador-selecionado, #vencedor-selecionado {
    font-size: 40px;
}